<h2 class="text-center">{{ client?.user?.id }}</h2>

<div class="incoming">
  <h2>Moderator</h2>

  <video #incomingModeratorVideo height="200" width="270" autoplay>
    Your browser does not support HTML5 video.
  </video>
</div>

<div class="incoming">
  <h2>Client</h2>

  <video
    #incomingClientAudio
    height="200"
    width="270"
    autoplay
    style="display: none"
  >
    Your browser does not support HTML5 video.
  </video>

  <video #incomingClientVideo height="200" width="270" autoplay>
    Your browser does not support HTML5 video.
  </video>

  <video #incomingClientVideoScreenShare autoplay height="500" width="670">
    Your browser does not support HTML5 video.
  </video>
</div>
