<h2 class="text-center">{{ connectedUser?.id }}</h2>

<video #video height="200" width="270" autoplay>
  Your browser does not support HTML5 video.
</video>

<div class="incoming">
  <h2>Client</h2>

  <div class="embed-responsive embed-responsive-16by9">
    <video #incomingAudio autoplay style="display: none">
      Your browser does not support HTML5 video.
    </video>
    <video #incomingVideo autoplay>
      Your browser does not support HTML5 video.
    </video>
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <video #incomingVideoScreenShare autoplay>
      Your browser does not support HTML5 video.
    </video>
  </div>
</div>
